body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

.illustration {
    flex: 1;
    background-color: #e7f6e7;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
}

.illustration img {
    max-width: 100%;
    height: auto;
}

.form-container {
    flex: 1;
    padding: 30px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-size: 14px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container button:hover {
    background: linear-gradient(to right, #2f80ed,#56ccf2);
}